$size : 13%;

.img-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: $size;
  width: $size;
  background-color: #ef5350
}

.header {
    margin: auto;
    background-color: #ef5350;
    margin-bottom: 5%;
    margin-top: 0%;
    //width: 100%;
}
    